<h2>Room</h2>


    <p>{{name}}</p>
    <p>{{description}}</p>
    <img src="/iron-rooms/public/images/roomaribnb.jpg">{{imgUrl}}</p>
    
    <h2>Owner</h2>
    <p>{{owner.fullName}}</p>
    <h2>More details, please contact:</h2>
    <p>{{owner.email}}</p>

<a href="/rooms/{{_id}}/edit"> Edit room </a>
